In [ ]:
# link do arquivo http://www.b3.com.br/pt_br/market-data-e-indices/servicos-de-dados/market-data/historico/mercado-a-vista/series-historicas/
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#importando as bibliotecas
import pandas as pd
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#lendo o arquivo de ações
#Lendo csv

df = pd.read_csv("/content/2019_bovespa.csv", delimiter=',')
df

      data_pregao sigla_acao  ... volume_negocios  preco_maximo
0      2019-01-02      AALR3  ...    3.523962e+08         13.50
1      2019-01-02     AAPL34  ...    1.015969e+08         60.71
2      2019-01-02     ABBV34  ...    1.028520e+07        342.84
3      2019-01-02      ABCB4  ...    9.598300e+08         17.20
4      2019-01-02      ABEV3  ...    2.982020e+10         16.30
...           ...        ...  ...             ...           ...
90094  2019-12-30     WSON33  ...    2.183964e+08         44.99
90095  2019-12-30     XBOV11  ...    6.854400e+05        114.70
90096  2019-12-30     XPIE11  ...    2.212365e+07        103.00
90097  2019-12-30     XPOM11  ...    8.744902e+06        103.50
90098  2019-12-30      YDUQ3  ...    2.176932e+10         49.03

[90099 rows x 10 columns]

In [ ]:
df_magalu = df[df['sigla_acao'] == 'MGLU3' ]

#itau

df_magalu.tail(10)

      data_pregao sigla_acao  ... volume_negocios  preco_maximo
86051  2019-12-13      MGLU3  ...    6.692929e+10         49.66
86495  2019-12-16      MGLU3  ...    5.270336e+10         49.88
87002  2019-12-17      MGLU3  ...    5.830462e+10         49.39
87474  2019-12-18      MGLU3  ...    5.012588e+10         49.00
87888  2019-12-19      MGLU3  ...    3.642373e+10         48.73
88273  2019-12-20      MGLU3  ...    4.446645e+10         49.03
88684  2019-12-23      MGLU3  ...    3.172720e+10         49.25
89092  2019-12-26      MGLU3  ...    2.372631e+10         49.10
89520  2019-12-27      MGLU3  ...    2.879185e+10         49.41
89946  2019-12-30      MGLU3  ...    3.892006e+10         48.99

[10 rows x 10 columns]

In [ ]:
#verificar o tipo do arquivo
df_magalu.dtypes

#Mudar o tipo data
df_magalu['data_pregao'] = pd.to_datetime(df_magalu['data_pregao'], format='%Y-%m-%d')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df_magalu.dtypes



df_magalu.tail()

      data_pregao sigla_acao  ... volume_negocios  preco_maximo
88273  2019-12-20      MGLU3  ...    4.446645e+10         49.03
88684  2019-12-23      MGLU3  ...    3.172720e+10         49.25
89092  2019-12-26      MGLU3  ...    2.372631e+10         49.10
89520  2019-12-27      MGLU3  ...    2.879185e+10         49.41
89946  2019-12-30      MGLU3  ...    3.892006e+10         48.99

[5 rows x 10 columns]

In [ ]:
df_magalu['mm5d'] = df_magalu['preco_fechamento'].rolling(5).mean()
df_magalu['mm21d'] = df_magalu['preco_fechamento'].rolling(21).mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_magalu.head(22)

     data_pregao sigla_acao    nome_acao  ...  preco_maximo     mm5d       mm21d
235   2019-01-02      MGLU3  MAGAZ LUIZA  ...        185.99      NaN         NaN
586   2019-01-03      MGLU3  MAGAZ LUIZA  ...        185.49      NaN         NaN
933   2019-01-04      MGLU3  MAGAZ LUIZA  ...        184.35      NaN         NaN
1285  2019-01-07      MGLU3  MAGAZ LUIZA  ...        182.48      NaN         NaN
1652  2019-01-08      MGLU3  MAGAZ LUIZA  ...        182.49  181.854         NaN
2016  2019-01-09      MGLU3  MAGAZ LUIZA  ...        182.00  180.478         NaN
2364  2019-01-10      MGLU3  MAGAZ LUIZA  ...        181.10  179.848         NaN
2727  2019-01-11      MGLU3  MAGAZ LUIZA  ...        181.54  179.688         NaN
3099  2019-01-14      MGLU3  MAGAZ LUIZA  ...        179.69  179.254         NaN
3459  2019-01-15      MGLU3  MAGAZ LUIZA  ...        180.90  178.706         NaN
3797  2019-01-16      MGLU3  MAGAZ LUIZA  ...        178.00  177.884         NaN
4144  2019-01-17      MGLU3  MAGAZ LUIZA  ...        176.22  176.610         NaN
4488  2019-01-18      MGLU3  MAGAZ LUIZA  ...        176.85  175.930         NaN
4836  2019-01-21      MGLU3  MAGAZ LUIZA  ...        174.22  173.530         NaN
5195  2019-01-22      MGLU3  MAGAZ LUIZA  ...        166.95  170.546         NaN
5536  2019-01-23      MGLU3  MAGAZ LUIZA  ...        170.16  169.466         NaN
5886  2019-01-24      MGLU3  MAGAZ LUIZA  ...        171.30  168.066         NaN
6253  2019-01-28      MGLU3  MAGAZ LUIZA  ...        168.50  166.702         NaN
6624  2019-01-29      MGLU3  MAGAZ LUIZA  ...        179.70  168.922         NaN
6975  2019-01-30      MGLU3  MAGAZ LUIZA  ...        182.00  171.742         NaN
7338  2019-01-31      MGLU3  MAGAZ LUIZA  ...        180.98  173.636  175.871905
7688  2019-02-01      MGLU3  MAGAZ LUIZA  ...        180.48  175.900  175.529524

[22 rows x 12 columns]

In [ ]:
df_magalu['preco_fechamento'] = df_magalu['preco_fechamento'].shift(-1)

df_magalu.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     data_pregao sigla_acao    nome_acao  ...  preco_maximo     mm5d  mm21d
235   2019-01-02      MGLU3  MAGAZ LUIZA  ...        185.99      NaN    NaN
586   2019-01-03      MGLU3  MAGAZ LUIZA  ...        185.49      NaN    NaN
933   2019-01-04      MGLU3  MAGAZ LUIZA  ...        184.35      NaN    NaN
1285  2019-01-07      MGLU3  MAGAZ LUIZA  ...        182.48      NaN    NaN
1652  2019-01-08      MGLU3  MAGAZ LUIZA  ...        182.49  181.854    NaN

[5 rows x 12 columns]

In [ ]:
df_magalu.dropna(inplace=True)
df_magalu

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      data_pregao sigla_acao    nome_acao  ...  preco_maximo     mm5d       mm21d
7338   2019-01-31      MGLU3  MAGAZ LUIZA  ...        180.98  173.636  175.871905
7688   2019-02-01      MGLU3  MAGAZ LUIZA  ...        180.48  175.900  175.529524
8070   2019-02-04      MGLU3  MAGAZ LUIZA  ...        178.15  177.838  175.199524
8421   2019-02-05      MGLU3  MAGAZ LUIZA  ...        177.36  177.318  175.061429
8760   2019-02-06      MGLU3  MAGAZ LUIZA  ...        174.50  176.028  174.515238
...           ...        ...          ...  ...           ...      ...         ...
87888  2019-12-19      MGLU3  MAGAZ LUIZA  ...         48.73   48.680   46.151905
88273  2019-12-20      MGLU3  MAGAZ LUIZA  ...         49.03   48.584   46.322857
88684  2019-12-23      MGLU3  MAGAZ LUIZA  ...         49.25   48.472   46.477619
89092  2019-12-26      MGLU3  MAGAZ LUIZA  ...         49.10   48.714   46.705714
89520  2019-12-27      MGLU3  MAGAZ LUIZA  ...         49.41   48.754   46.976667

[227 rows x 12 columns]

In [ ]:
qtd_linhas = len(df_magalu)

qtd_linhas_treino= round(.70 * qtd_linhas)
qtd_linhas_teste= qtd_linhas - qtd_linhas_treino
qtd_linhas_validacao = qtd_linhas -1

info = (
f"linhas treino= 0:{qtd_linhas_treino}"
f" linhas teste= {qtd_linhas_treino}:{qtd_linhas_treino + qtd_linhas_teste -1}"
f" linhas validação= {qtd_linhas_validacao}"
)

info

'linhas treino= 0:159 linhas teste= 159:226 linhas validação= 226'

In [ ]:
features = df_magalu.drop(['sigla_acao', 'nome_acao', 'data_pregao', 'preco_fechamento'], 1)
labels = df_magalu['preco_fechamento']

#Escolhendo as melhores features com Kbest

features_list = ('preco_abertura','preco_max','preco_minimo','qtd_negocios','volume_negocios','mm5d','mm21d')

k_best_features = SelectKBest(k='all')
k_best_features.fit_transform(features, labels)
k_best_features_scores = k_best_features.scores_
raw_pairs = zip(features_list[1:], k_best_features_scores)
ordered_pairs = list(reversed(sorted(raw_pairs, key=lambda x: x[1])))
k_best_features_final = dict(ordered_pairs[:15])
best_features = k_best_features_final.keys()
print ('')
print ("Melhores features:")
print (k_best_features_final)

Melhores features:
{'mm21d': 257.258282138229, 'preco_minimo': 257.2582821352074, 'qtd_negocios': 217.19756080062209, 'preco_max': 115.7382651082111, 'mm5d': 13.28575453625914, 'volume_negocios': 11.497827719159323}

In [ ]:
features = df_magalu.loc[:,['preco_max','preco_minimo','volume_negocios','mm5d']]

features

       preco_max  preco_minimo  volume_negocios     mm5d
7338     18098.0        173.68     1.714825e+10  173.636
7688     18048.0        176.12     1.149346e+10  175.900
8070     17815.0        174.51     9.580910e+09  177.838
8421     17736.0        174.80     7.943243e+09  177.318
8760     17450.0        168.50     1.382919e+10  176.028
...          ...           ...              ...      ...
87888     4873.0         47.90     3.642373e+10   48.680
88273     4903.0         47.96     4.446645e+10   48.584
88684     4925.0         48.40     3.172720e+10   48.472
89092     4910.0         48.63     2.372631e+10   48.714
89520     4941.0         48.15     2.879185e+10   48.754

[227 rows x 4 columns]

In [ ]:
X_train = features[:qtd_linhas_treino]
X_test = features[qtd_linhas_treino:qtd_linhas_treino + qtd_linhas_teste -1]

y_train = labels[:qtd_linhas_treino]
y_test = labels[qtd_linhas_treino:qtd_linhas_treino + qtd_linhas_teste -1]

print( len(X_train), len(y_train))

print( len(X_test), len(y_test))

# Normalizando os dados de entrada(features)

# Gerando o novo padrão
scaler = MinMaxScaler()
X_train_scale = scaler.fit_transform(X_train) # Normalizando os dados de entrada(treinamento)
X_test_scale = scaler.transform(X_test) # Normalizando os dados de entrada(teste)

159 159
67 67

In [ ]:
lr = linear_model.LinearRegression()
lr.fit(X_train_scale, y_train)
pred= lr.predict(X_test_scale)
cd =r2_score(y_test, pred)

f'Coeficiente de determinação:{cd * 100:.2f}'

#rede neural
rn = MLPRegressor(max_iter=2000)

rn.fit(X_train_scale, y_train)
pred= rn.predict(X_test_scale)

cd = rn.score(X_test_scale, y_test)

f'Coeficiente de determinação:{cd * 100:.2f}'

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

'Coeficiente de determinação:90.50'

In [ ]:
rn = MLPRegressor()
parameter_space = {
'hidden_layer_sizes': [(i,) for i in list(range(1, 21))],
'activation': ['tanh', 'relu'],
'solver': ['sgd', 'adam', 'lbfgs'],
'alpha': [0.0001, 0.05],
'learning_rate': ['constant', 'adaptive'],
}
search = GridSearchCV(rn, parameter_space, n_jobs=-1, cv=5)

search.fit(X_train_scale,y_train)
clf = search.best_estimator_
pred= search.predict(X_test_scale)

cd = search.score(X_test_scale, y_test)

f'Coeficiente de determinação:{cd * 100:.2f}'

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

'Coeficiente de determinação:-295.93'

In [ ]:
valor_novo = features.tail(1)
valor_novo

#executando a previsão

previsao=scaler.transform(valor_novo)

pred=lr.predict(previsao)

pred

df = df[df['sigla_acao'] == 'MGLU3' ]

In [ ]:
data_pregao_full=df['data_pregao']
data_pregao=data_pregao_full.tail(1)

res_full=df['preco_fechamento']
res=res_full.tail(1)

df=pd.DataFrame({'data_pregao':data_pregao, 'real':res, 'previsao':pred})

df.set_index('data_pregao', inplace=True)

print(df)

             real   previsao
data_pregao
2019-12-30   47.7  51.404734